APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.nxgurgphgoelraasauqt
DB_PASSWORD=SiG8AHzB5E4BxtV2
DB_SSLMODE=require

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

PYTHON_AI_SERVICE_URL=http://localhost:5000
AI_SERVICE_API_KEY=secret-ai-key-2026

NEXT_PUBLIC_SUPABASE_URL=https://nxgurgphgoelraasauqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54Z3VyZ3BoZ29lbHJhYXNhdXF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4OTQ2MjQsImV4cCI6MjEwMTQ3MDYyNH0.1bKfc5J4T8Tkkc9lG2yVOhDcEDF3fZnmwTW3Kl6XMsE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54Z3VyZ3BoZ29lbHJhYXNhdXF0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTg5NDYyNCwiZXhwIjoyMTAxNDcwNjI0fQ.hoTk74xVxZX8OIzAMuNDLKBrw5OfYUmjQF6VeL5XIhw
